@font-face {
    font-family: 'Centabel';
    src: url('./centabel.ttf') format("truetype");
}

@media only screen and (max-width: 900px) {
    .griddd {
        display: inline;
        align-items: center;
        gap: 0px;
        padding-left: 10%;
        padding-right: 10%;
    }

    #address-col {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #anchor-logo {
        grid-row-start: 3;
        grid-row-end: 7;
        margin: auto;
        top: 220px;
    }

    #anchor-logo img {
        min-width: 30vh;
        max-width: 70vw;
        height: auto !important;
    }

    #hours-col {
        grid-row-start: 7;
    }

    #flex-container {
        display: flex;
    }
}

#menu-link {
    font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;
    display: inline;
}

nav {
    display: flex;
    height: 10%;
}
#nav-logo {
    padding-top: 20px;
    margin-left: 38%;
}

#nav-logo img {
    height: 50px;
}

a {
    color: white;
}

a:hover {
    color: gold;
}

body {
    background-color: #2d4756;
    color: seashell;
    font-family: Centabel, Helvetica, Arial, sans-serif;
    line-height: 45px;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
}

h3 {
    font-size: 2rem;
    text-transform: uppercase;
}

h5 {
    font-size: 1rem;
}

nav {
    grid-template-columns: repeat(3, 1fr);
}

#nav-logo {

}

main {
    min-width: 
}

.griddd {
    padding-top: 10vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.container-flexbox {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
}

#anchor-logo {
    align-items: center;
    justify-items: center;
}

#anchor-logo img {
    height: 60vh;
    min-height: 720px;
}

#address-col {
    align-self: center;
    text-align: center;
    min-width: 325px;
}

#hours-col {
    align-self: center;
    text-align: center;
    min-width: 325px;
}

}